
#main{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}

a {
    text-decoration: none;
    background-color: rgba(9, 88, 205, 0.985);
    color: #fff;
    padding: 10px;
    margin: 10px;
    line-height: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}